<p>Hello:</p>

<p>
    Thank you for contributing to the Unified Listing.  We have prepared a report highlighting the {{missingRecords.length}}
    UL entries for which we don't appear to have a record to link to your database ({{source}}).  Here is a summary of the
    records, broken down to indicate how many of these missing records each member database contains:
</p>

<ul>
{{#each recordCountBySource}}
    <li>{{@key}}: {{.}}</li>
{{/each}}
</ul>

<p>
    Please note that as the Unified Listing contains a superset of all its member datasets, "Unified Listing" in the above
    count only represents records that were directly entered into the Unified Listing by our review team.
</p>

<p>
    For more details about which records are missing, URLs to view the record, et cetera, please see the attached CSV file.
    If you have a record for any of these products, please make us aware so we can update our records to give you credit and
    make users aware of your entry when they search the Unified Listing.
</p>

<p>Cheers,</p>


<p>The UL Review Team.</p>