<p>Hello:</p>

<p>
    Thank you for contributing to the Unified Listing.  We have analysed your contributions and prepared a report
    highlighting the {{missingRecords}} UL entries for which we don't appear to have a record to link to your database
    ({{source}}).  Of these, {{recordsOnlyInUl}} are new records entered by the UL Review Team.
</p>

<p>
    For more details about these records, please see the attached CSV file.  If you have a record for any of these products,
    please make us aware so we can update our records to give you credit and make users aware of your entry when they search
    the Unified Listing.
</p>

<p>Cheers,</p>


<p>The UL Review Team.</p>