  - Name: {{>diff-text name}}
{{#if url}}
  - URL: {{>diff-text url}}
{{/if}}
{{#if email}}
  - Email Address: {{>diff-text email}}
{{/if}}
{{#if country}}
  - Country: {{>diff-text country}}
{{/if}}
{{#if cityTown}}
  - City/Town: {{>diff-text cityTown}}</td>
{{/if}}
